.footer{
    width: 300px;
    height: 55px;
    background-color: rgba(19, 19, 19, 1);
    justify-self: center;
    position: fixed;
    z-index: 10;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    border-radius: 2rem;
}

.social{
    margin-top: 0.8rem;
    justify-content: center;
    text-align: center;  
}



@media screen and (max-width: 640px) {
    .footer-container{
        grid-template-columns: 1fr;
    }
    .footer{
    width: 60%;
    height: 60px;
    padding: 10rem 1;
    background-color: rgba(19, 19, 19, 1);
    justify-self: center;
    position: fixed;
    z-index: 10;
    bottom: 0;
    display: flex;
    justify-content: center;
}
}
