.preloader{
    height: 100vh;
    width: 100%;
    background: #000;
    position: fixed;
    z-index: 11;
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
    animation-duration: 10ms;
    flex-direction: column;
    font-size: 3rem;
}

